# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/

# Backend
backend/data.db*
backend/uploads/screenshots/*.webp
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
